.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
}

.home {
    font-size: 16px;
}

.home:hover {
    color: fuchsia;
    cursor: pointer;
}
.navBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.navBtn:hover {
    color: fuchsia;
}