.news-feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  margin: 1vw;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 15vw;
  height: auto;
}

.thumbnail:hover {
  color: fuchsia;
  cursor: pointer;
}

.inline-container {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

h2 {
  font-size: 2vh;
}

h3 {
  font-size: 1vh;
}

p {
  font-size: 1vh;
}