.news-feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: 1vw;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20vw;
  height: auto;
}

.thumbnail:hover {
  color: fuchsia;
  cursor: pointer;
}

.inline-container {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}